* {
	box-sizing: border-box;;
}

h1 {
	text-align: center;
}

#gameBoard {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: 300px;
	width: 300px;
	border-style: solid;
	border-color: black;
	margin: auto;
}
	#A1, #A2, #A3, #B1, #B2, #B3, #C1, #C2, #C3{
		border-style: solid;
		border-color: black;
	}

	#A1{
		grid-row: 1;
		grid-column: 1;
	}

	#A2{
		grid-row: 1;
		grid-column: 2;
	}

	#A3{
		grid-row: 1;
		grid-column: 3;
	}

	#B1{
		grid-row: 2;
		grid-column: 1;
	}

	#B2{
		grid-row: 2;
		grid-column: 2;
	}

	#B3{
		grid-row: 2;
		grid-column: 3;
	}

	#C1{
		grid-row: 3;
		grid-column: 1;
	}

	#C2{
		grid-row: 3;
		grid-column: 2;
	}

	#C3{
		grid-row: 3;
		grid-column: 3;
	}

button {
	display: block;
	margin: 10px auto;
}
