@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: white;
	line-height: 0.5;
}

body {
	background-color: #262626;
}

h1 {
	text-align: center;
	font-size: 4.5rem;
	line-height: 0.5;
	font-family: 'Permanent Marker', cursive;
}

#gameBoard {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: 60vh;
	width: 60vh;

	margin: auto;
}

	#A1{
		grid-row: 1;
		grid-column: 1;
		border-right: 7px solid white;
		border-bottom: 7px solid white;
	}

	#A2{
		grid-row: 1;
		grid-column: 2;
		border-bottom: 7px solid white;
		border-right: 7px solid white;
	}

	#A3{
		grid-row: 1;
		grid-column: 3;
		border-bottom: 7px solid white;
	}

	#B1{
		grid-row: 2;
		grid-column: 1;
		border-right: 7px solid white;
	}

	#B2{
		grid-row: 2;
		grid-column: 2;
		border-right: 7px solid white;
	}

	#B3{
		grid-row: 2;
		grid-column: 3;
	}

	#C1{
		grid-row: 3;
		grid-column: 1;
		border-top: 7px solid white;
		border-right: 7px solid white;
	}

	#C2{
		grid-row: 3;
		grid-column: 2;
		border-top: 7px solid white;
		border-right: 7px solid white;
	}

	#C3{
		grid-row: 3;
		grid-column: 3;
		border-top: 7px solid white;
	}

button {
	display: block;
	margin: 10px auto;
	padding: 20px 40px;
	border: none;
	background-color: white;
	color: black;
	border-radius: 40px;
	font-size: 1.5rem;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: grey;
}

#turn {
	text-align: center;
	font-size: 2rem;
}

h2 {
	text-align: center;
	font-size: 3rem;
	line-height: 0.5;
	font-family: 'Permanent Marker', cursive;
}
